{% extends "gateway/layout.html" %} 
{% block body %}
<div class="container mt-5">
    {% if messages %}
  <ul class="list-unstyled mt-3">
    {% for message in messages %}
    <li class="alert alert-success">{{message|safe}}</li>
    {% endfor %}
  </ul>
  {% endif %}
  <h1 class="mb-4">Gateways</h1>
  {% for gateway in gateway_data %}
  <div class="card mb-4">
    <div class="card-header">
      <b>{{ gateway.name }}</b> - {{gateway.serial_number}} - ({{ gateway.ipv4_address }})
    </div>
    <ul class="list-group list-group-flush">
      {% for peripheral in gateway.peripherals %}
      <li
        class="list-group-item d-flex justify-content-between align-items-center"
      >
      <div>
        {{ peripheral.uid }} - {{ peripheral.vendor }}     
        {% if  peripheral.status == 'online' %}
        <i class="bi bi-lightbulb toggle-status" data-id="{{ peripheral.id }}"></i>
        {% else %}
        <i class="bi bi-lightbulb-off toggle-status" data-id="{{ peripheral.id }}"></i>
        {% endif %}
        <small class="text-muted">{{peripheral.date_created}}</small>
      </div>
        <form
          class="delete-device"
          method="POST"
          action="{% url 'peripheral_device_delete' peripheral.id %}"
        >
          {% csrf_token %}
          <button type="submit" class="btn btn-danger btn-sm">Delete</button>
        </form>
      </li>
      {% endfor %}
    </ul>
  </div>
  {% endfor %}
</div>
<script>
  const deleteDevice = document.querySelectorAll(".delete-device");
  deleteDevice.forEach((element) =>
    element.addEventListener("submit", (event) => {
      const confirmed = confirm("Are you sure you want to delete this device?");
      if (!confirmed) {
        event.preventDefault();
      }
    })
  );

  // Add an event listener to all elements with the "toggle-status" class
  document.querySelectorAll('.toggle-status').forEach(function(icon) {
    icon.addEventListener('click', function(event) {
      // Get the ID of the clicked peripheral from the data attribute
      let id = event.target.dataset.id;
      console.log(id)

      // Determine the new status based on the current icon class
      let newStatus = event.target.classList.contains('bi-lightbulb') ? 'offline' : 'online';
      console.log(newStatus)

      let csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
      console.log(csrftoken)

      // Create a new FormData object
      let change_data_peripheral_device = new FormData();
      change_data_peripheral_device.append('id', id);
      change_data_peripheral_device.append('peripheral_status', newStatus);

      // Send a fetch request to the server to update the status of the peripheral
      fetch('update_device_status/', {
        method: 'POST',
        headers: {
          //'Content-Type': 'application/json',
          'X-CSRFToken': csrftoken
        },
        //body: JSON.stringify({id: id, peripheral_status: newStatus})
        //body: change_data_peripheral_device,
        body:change_data_peripheral_device
      })
      .then(function(response) {
        if (response.ok) {
          // If the request was successful, update the icon class to reflect the new status
          if (newStatus === 'online') {
            event.target.classList.remove('bi-lightbulb-off');
            event.target.classList.add('bi-lightbulb');
          } else {
            event.target.classList.remove('bi-lightbulb');
            event.target.classList.add('bi-lightbulb-off');
          }
        }
      });
    });
  });
</script>
{% endblock %}
